:root {
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: antiquewhite;
}

main {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#calculator {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: #876445 2px solid;
  padding: 5px;
}

#display {
  height: 50px;
  border: #876445 2px solid;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(5, minmax(60px, 80px));
}

.button {
  margin: 0;
  border: 0;
  display: block;
}

.button.clear {
  grid-column: span 2;
}
