:root {
  --page-background-color: #76ba99;
  --calculator-background-color: #876445;
  --calculator-box-shadow-color: #876445;
  --buttons-background-color: #eddfb3;
  --buttons-box-shadow-color: #e4cf8c;
  --display-background-color: #ca955c;
  --display-color: #eddfb3;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--page-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main {
  width: 500px;
}

#calculator {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: #876445 2px solid;
  background-color: var(--calculator-background-color);
  box-shadow: var(--calculator-box-shadow-color) 0px 1px 4px;
  padding: 5px;
}

#display {
  height: 80px;
  border: #876445 2px solid;
  color: var(--display-color);
  background-color: var(--display-background-color);
  font-size: 25px;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-items: end;
}

#buttons {
  display: grid;
  margin-top: 5px;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(5, minmax(40px, 70px));
}

.button {
  margin: 0;
  border: 0;
  display: block;
  background-color: var(--buttons-background-color);
  box-shadow: var(--buttons-box-shadow-color) 0px 1px 4px;
}

.button.clear {
  grid-column: span 2;
}
