:root {
  --page-background-color: #76ba99;
  --calculator-background-color: #876445;
  --buttons-background-color: #eddfb3;
  --display-color: #76ba99;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--page-background-color);
}

main {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#calculator {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: #876445 2px solid;
  background-color: var(--calculator-background-color);
  padding: 5px;
}

#display {
  height: 50px;
  border: #876445 2px solid;
  color: var(--display-color);
}

#buttons {
  display: grid;
  margin-top: 5px;
  gap: 5px;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(5, minmax(60px, 80px));
}

.button {
  margin: 0;
  border: 0;
  display: block;
  background-color: var(--buttons-background-color);
}

.button.clear {
  grid-column: span 2;
}
